<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.cse110.geometryapp" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/CustomActionBarTheme"
        android:icon="@drawable/gicon_final"
        android:label="@string/app_name">

        <!-- android:icon="@mipmap/ic_launcher" -->
        <!-- android:label="@string/app_name" -->

        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Main"
            android:screenOrientation="portrait">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".LessonList"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".MCQuestion"
            android:screenOrientation="portrait">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".TextQuestion"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".CheckQuestion"
            android:screenOrientation="portrait">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".LessonDescription"
            android:screenOrientation="portrait">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".QuestionList"
            android:screenOrientation="portrait">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
